.metamic-logo {
    bottom: 0px;
    right: 0px;
    position: absolute;

    padding: 8px;
    opacity: 0.7;

    pointer-events: none;
}

.metamic-logo img {
    width: 100px;
    height: auto;
}

.metamic-top-toolbar {
    top: 0px;
    left: 0px;
    position: absolute;

    margin: 4px;

    background-color: rgba(var(--bs-body-bg-rgb), 0.5) !important;
    border-radius: var(--bs-border-radius);

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.metamic-bottom-toolbar {
    display: inline-block;
    margin: 4px;

    pointer-events: initial;
    
    background-color: rgba(var(--bs-body-bg-rgb), 0.3) !important;
    border-radius: var(--bs-border-radius);

    -webkit-backdrop-filter: blur(var(--aton-blur-radius));
    backdrop-filter: blur(var(--aton-blur-radius));

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}